html{font:Comic;}

li{
    border:10px;
    color: red;
}

ul{
    padding:15px;
    color:Orange;
}

li{
    margin:5px;
    color:Purple;
}

#maincontent{
    width:50%;
    margin:0 auto;
}

.mainlist li{
    margin-bottom: 25px;

}

.mainlist p{
    display:inline;
}

.delete{
    background-color: gold;
   color:#fff;
   padding:5px;
}

body{
      background-image: url(https://i.pinimg.com/736x/b3/9a/9a/b39a9a3762fed847c4fdad334f48ae77--cute-tiger-cubs-baby-tiger-cubs.jpg)
}

.g {
    background-color:lightblue;
    width:50%;
    margin:50px auto;
    border:7px solid #a03030;
}

.title {
    margin-left: 175px;
    
}